<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <meta name="description" content="D'Argent List of Restaurant!!">
    <title>Restaurant</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.cdnfonts.com/css/monster-school" rel="stylesheet">

  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip to Content</a>
    <header class="header">
      <div tabindex="0" class="header_title">
        <h1>D'Argent</h1>
      </div>
      <a tabindex="0" id="menu" class="header__menu">☰</a>
      <nav id="drawer" class="nav-list">
        <ul>
          <li class="nav_item"><a href="/">Home</a></li>
          <li class="nav_item"><a href="#">Favorite</a></li>
          <li class="nav_item"><a href="https://www.facebook.com/arifin.yusufp/" target="_blank" rel="noopener">About Us</a></li>
        </ul>
      </nav>
    </header>
    <div tabindex="0" class="hero">
      <div class="hero_inner">
        <h1 tabindex="0" class="hero_title">EVERY TOWER HAS ITS LEGEND</h1>
        <p tabindex="0" class="hero_tagline">Our house revives a part of the history of restaurants in the world.</p>
      </div>
    </div>
    <main id="maincontent">
      <section class="content">
        <div class="katalog">
          <h1 tabindex="0" class="katalog_label">Daftar Restoran</h1>
          <div class="posts">
          </div>
        </div>
      </section>
    </main>
    <footer>
      <p tabindex="0">Belajar Dasar Pemrograman Web &#169; 2024, Dicoding Academy</p>
    </footer>
  </body>
</html>
